<header >
    <div class="desktop-header">
      <div class="header-item-container1">
        <a class="item1-header" href="">
          <img
            class="header-image"
            src="../../assets/icons/yemen mobile logo red2_.png"
            alt=""
            srcset=""
        /></a>
        <a class="item2-header header-text" href="">Home</a>
        <a class="item3-header header-text" href="">Yemen Mobile </a>
        <a class="item4-header header-text" href="">Companies </a>

        <a class="item5-header header-text" href="">4g</a>

        <a class="item6-header header-text" href="">Services</a>
      </div>
      <div class="header-item-container2">
        <a class="item7-header header-text" href=""> Arabic </a>
        <span style="width: 30px"></span>
        <a href="">
          <img src="../../assets/icons/search_.png" alt="" style="width: 15px" />
        </a>
      </div>
    </div>
    <div class="mobile-header">
      <a class="item1-header" href="" style="margin-left: 20px">
        <img
          class="header-image"
          src="../../assets/icons/yemen mobile logo red2_.png"
          alt=""
          srcset=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <img src="../../assets/icons/menu-deep_.png" alt="" srcset="" />
      </button>
      <!-- Offcanvas -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <img
            class="header-image"
            src="../../assets/icons/yemen mobile logo red2_.png"
            alt=""
            srcset=""
          />
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0" />

        <div class="offcanvas-body">
          <a class="m-h-item" href="">Home</a>
          <a class="m-h-item" href="">Yemen Mobile </a>
          <a class="m-h-item" href="">Companies </a>

          <a class="m-h-item" href="">4g</a>

          <a class="m-h-item" href="">Services</a>
          <hr style="width: 100%; text-align: left; margin-left: 0" />

          <div
            style="
              display: flex;
              justify-content: space-evenly;
              align-items: center;
            "
          >
            <a class="m-h-item" href=""> Arabic </a>

            <a class="m-h-item" href="">
              <img
                src="../../assets/icons/search_.png"
                alt=""
                style="width: 15px; padding-top: 5px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="with-header"></div>
  <div class="content1">
    <div class="content1-conatainer">
      <img src="../../assets/images/image11.png" alt="" style="width: 100%" />
    </div>
  </div>

  <footer>
    <div class="desktop-footer">
      <div class="footer3">
        <img src="../../assets/icons/yemen mobile logo red2_.png" alt="" srcset="" />
      </div>
      <div class="footer1">
        <div class="f1" style="width: 10vw">
          <div class="f1title">QuickLinks</div>
          <div><a href="">Homepage</a></div>
          <div><a href="">Aboutus</a></div>
          <div><a href="">Postpaid</a></div>
          <div><a href="">Prepaid</a></div>
          <div><a href="">٤G</a></div>
          <div><a href="">RiyalMobil</a></div>
          <div><a href="">Tenders</a></div>
        </div>
        <div class="f1" style="width: 15vw">
          <div class="f1title">Services</div>
          <div><a href="">Roaming service</a></div>
          <div><a href="">Free help services</a></div>
          <div><a href="">Value-added services</a></div>
          <div><a href="">Mobile net services</a></div>
          <div><a href="">Corporateservices</a></div>
          <div><a href="">The International SMS Guide</a></div>
        </div>
        <div class="f1" style="width: 9vw">
          <div class="f1title">Other</div>
          <div><a href="">Support</a></div>
          <div><a href="">CSR</a></div>
          <div><a href="">Shareholders</a></div>
          <div><a href="">Gallery</a></div>
          <div><a href="">Agents</a></div>
          <div><a href="">News</a></div>
          <div><a href="">Contact us</a></div>
        </div>
        <div class="f1">
          <div class="f1title">Document</div>
          <div><a href="">Company’ssystem</a></div>
          <div><a href="">Financial statements</a></div>
          <div><a href="">Subscribers complaints</a></div>
          <div><a href="">list</a></div>
          <div><a href="">Yemenmobile’s magazine</a></div>
        </div>
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="footer2">
        <a class="social-icon" href=""
          ><img src="../../assets/icons/facebook.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/instagram.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/pintrest.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/Vector Smart Object.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/linkedin.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/whatsapp.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/x.png" alt="" srcset=""
        /></a>
        <div class="copy-right">Copyright© 2024-2008 YemenMobile</div>
      </div>
    </div>
    <!--  -->
    <div class="mobile-footer">
      <div class="m-footer1">
        <img src="../../assets/icons/yemen mobile logo red2_.png" alt="" srcset="" />
      </div>
      <div
        class="m-footer2 navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#if1"
      >
        <div class="f1title">QuickLinks</div>
        <img class="arrow" src="../../assets/icons/arrow.png" alt="" />
      </div>
      <div class="g-m-w">
        <div class="collapse f-a" id="if1" data-bs-theme="dark">
          <div><a href="">Homepage</a></div>
          <div><a href="">About us</a></div>
          <div><a href="">Postpaid</a></div>
          <div><a href="">Prepaid</a></div>
          <div><a href="">4G</a></div>
          <div><a href="">Riyal Mobile</a></div>
          <div><a href="">Tenders</a></div>
        </div>
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div
        class="m-footer2 navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#if2"
      >
        <div class="f1title">Services</div>
        <img class="arrow" src="../../assets/icons/arrow.png" alt="" />
      </div>
      <div class="g-m-w">
        <div class="collapse f-a" id="if2" data-bs-theme="dark">
          <div><a href="">Roaming service</a></div>
          <div><a href="">Free help services</a></div>
          <div><a href="">Value-added services</a></div>
          <div><a href="">Mobile net services</a></div>
          <div><a href="">Corporateservices</a></div>
          <div><a href="">The International SMS Guide</a></div>
        </div>
      </div>

      <hr style="width: 100%; text-align: left; margin-left: 0" />

      <div
        class="m-footer2 navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#if3"
      >
        <div class="f1title">Other</div>
        <img class="arrow" src="../../assets/icons/arrow.png" alt="" />
      </div>
      <div class="g-m-w">
        <div class="collapse f-a" id="if3" data-bs-theme="dark">
          <div><a href="">Support</a></div>
          <div><a href="">CSR</a></div>
          <div><a href="">Shareholders</a></div>
          <div><a href="">Gallery</a></div>
          <div><a href="">Agents</a></div>
          <div><a href="">News</a></div>
          <div><a href="">Contact us</a></div>
        </div>
      </div>

      <hr style="width: 100%; text-align: left; margin-left: 0" />

      <div
        class="m-footer2 navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#if4"
      >
        <div class="f1title">Document</div>
        <img class="arrow" src="../../assets/icons/arrow.png" alt="" />
      </div>
      <div class="g-m-w">
        <div class="collapse f-a" id="if4" data-bs-theme="dark">
          <div><a href="">Roaming service</a></div>
          <div><a href="">Free help services</a></div>
          <div><a href="">Value-added services</a></div>
          <div><a href="">Mobile net services</a></div>
          <div><a href="">Corporateservices</a></div>
          <div><a href="">The International SMS Guide</a></div>
        </div>
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="m-footer-icons g-m-w">
        <a class="social-icon" href=""
          ><img src="../../assets/icons/facebook.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/instagram.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/pintrest.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/Vector Smart Object.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/linkedin.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/whatsapp.png" alt="" srcset=""
        /></a>
        <a class="social-icon" href=""
          ><img src="../../assets/icons/x.png" alt="" srcset=""
        /></a>
        <div class="copy-right">
          Copyright <span>c</span> 2024-2008 YemenMobile
        </div>
      </div>
    </div>
  </footer>