
<div class="content1-conatainer1">
  <img
    src="../../assets/images/image11.png"
    alt=""
    style="width: 100%; position: absolute; top: 0"
  />
  <div class="abs"  style=" position: absolute; top: 0;top: 8vw;
  right: 17vw; text-decoration: none;color: white;  font-family: arabicFont;
  font-size: 5vw;
">اتصل بالعالم</div>
  <a class="abs"  style=" position: absolute; top: 0;top: 15vw;
  right: 17vw; text-decoration: none;color: white;  font-family: arabicFont;
  font-size: 1.8vw;
">الشبكة الأكبر والأقوى باليمن</a>
<span
style="
position: absolute;
top: 20vw;
display: flex;
justify-content: center;
align-items: center;
  font-family: arabicFont;
  right: 17vw; 
  
  background-color: rgb(178, 16, 73);
  display: flex;
  height: 3.3vw;
    width: 10vw;
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
  border-radius: 50px;
"
>
Packages
</span>
</div>
