.content1-conatainer1{
  position: relative;
  height: 54vw;
  z-index: -1;
}
  
  /* Desktop */
  @media (max-width: 9000px) and (min-width: 940px) {
  
    /* Content 1 Design */
    
   
  }
  /* Mobile */
  @media only screen and (max-width: 940px) {
   
  }
  
  @font-face {
    font-family: "arabicFont"; /*a name to be used later*/
    src: url("../../assets/font/ExpoArabic-Medium.ttf"); /*URL to font*/
  }
  @font-face {
    font-family: "arabicFontSemeiBold"; /*a name to be used later*/
    src: url("../../assets/font/ExpoArabic-Book.ttf"); /*URL to font*/
  }
  